h3 {
    font-size: 25px !important;
}

.btn-success :hover {
    background-color: burlywood;
}

canvas {
    animation-name: Mr_J;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes Mr_J {
    from {
        box-shadow: 1px 1px 38px blue;
    }
    to {
        box-shadow: 1px 1px 38px red;
    }
}